<div class="collection-view" data-view>
<!--   <label for="SortBy">{{ 'collections.general.displayed_as' | t }} </label> -->
  <a title="Grid view" class="change-mode active" data-view="grid">
    {% render 'icon-grid' %} 
  </a>
  <a title="List view" class="change-mode" data-view="list">
   {% render 'icon-list' %} 
  </a>
</div>
