<div class="pop-up-modal">
  <div class="pop-up-content">
    <span class="close-button dt-sc-btn close-icon"></span>
    <span class="size-chart-content">{{ pages.size-chart.content }}</span>
  </div>
</div>

<script>
  const sizeModal = document.querySelector(".pop-up-modal");
  const sizeTrigger = document.querySelector(".trigger-pop-up");
  const sizeXButton = document.querySelector(".pop-up-modal .close-button");

  function sizeToggle() {
    sizeModal.classList.toggle("show-pop-up");
  }
  function sizeOnClick(event) {
    if (event.target === sizeModal) {
      sizeToggle();
    }
  }

    sizeTrigger.addEventListener("click", sizeToggle);
    sizeXButton.addEventListener("click", sizeToggle);
    window.addEventListener("click", sizeOnClick);
</script>

<style>
  .pop-up-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: {{ settings.secondary_color | color_modify: 'alpha', 0.75 }};
    opacity: 0;
    visibility: hidden;
        transition: all linear .3s;
    -webkit-transition: all linear .3s;
        z-index: 12;
  }
  .pop-up-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 1rem;
    width: auto;
    border-radius: var(--DTRadius);
      max-height: 90vh;
      overflow-y: scroll;
      overflow: auto;
      }
  .pop-up-content table {
    table-layout: auto;
    margin: 0;
  }
  .pop-up-content .close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: var(--DTRadius);
      z-index: 1;
      border: none;
      background: none;
      }
  
  .pop-up-content .close-button:hover {
   color: var(--DTLinkHoverColor); 
  }
  .show-pop-up {
    opacity: 1;
    visibility: visible;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;

  }
  .trigger-pop-up {
    display: flex;
    align-items: center;
  }
  .trigger-pop-up svg{ 
    margin-right: 10px;
    width: auto;
    height: 24px;
  }
  
  @media only screen and (max-width: 749px) {
    .pop-up-content, .size-chart-content table { width: 90%; }
    .size-chart-content th, .size-chart-content td { padding: 10px;}
  }
</style>