// ::::::: VISBY ::::::::
 
// Regular
@font-face{
	font-family: 'Visby CF';
	font-weight: normal;
	src: url('VisbyCF-Regular.otf') format("opentype");
	font-display: swap;
}
// Regular Italic
@font-face{
	font-family: 'Visby CF';
	font-weight: normal;
	font-style: italic;
	src: url('VisbyCF-RegularOblique.otf') format("opentype");
	font-display: swap;
}
// Bold
@font-face{
	font-family: 'Visby CF';
	font-weight: bold;
	src: url('VisbyCF-Bold.otf') format("opentype");
	font-display: swap;
}
// Bold Italic
@font-face{
	font-family: 'Visby CF';
	font-weight: bold;
	font-style: italic;
	src: url('VisbyCF-BoldOblique.otf') format("opentype");
	font-display: swap;
}