@use "variables" as *;
@use "fontface";


.tb-container{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}

.tb-pos-r{
	position: relative;
}

.tb-grid{
	display: grid;
}
.tb-grid-3{
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));;
}

.tb-grid-4{
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));;
}

.tb-decorative{
	position: absolute;
	// pointer-events: none;
	background-size: contain;
	background-repeat: no-repeat;
	transition: $transition-slow;
}
img{
	max-width: 100%;
}

// Titles
.tb-section-title{
	font-family: $font-family;
	font-size: 50px;
	line-height: 1.2;
	font-weight: bold;
	text-align: center;
	color: #292929;
	margin: 0 0 1.8rem;
}
.tb-sectionSubtitle{
	font-family: $font-family;
	font-size: 38x;
	font-weight: normal;
	text-align: center;
	color: #292929;
	margin: 0 0 1.8rem;
	@media only screen and (min-width: $lg){
		font-size: 54px;
	}
}
.tb-title{
	font-family: $font-family;
	color: red;
}

.tb-preTitle{
	position: relative;
	font-size: .8rem;
	color: $primary;
	font-weight: medium;
	display: inline-flex;
	align-items: center;
	margin: 0 auto 1rem;
	animation-delay: .5s;
	span{
		position: relative;
		width: 5px;
		height: 5px;
		border: 1px solid $primary;
		align-items: center;
		border-radius: 50%;
		display: flex;
		&:first-child{
			right: 2rem;
		}
		&:last-child{
			left: 2rem;
		}
		
		&:before, &:after{
			content: '';
			position: absolute;
			display: block;
			width: 5px;
			height: 5px;
			border: 1px solid $primary;
			border-radius: 50%;
		}
		&:before{
			left: .5rem;
		}
		&:after{
			right: .5rem;
		}
	}
}

.tb-excerpt{
	color: #494949;
	font-weight: normal;
	font-family: $font-family;
	font-size: 1rem;
	line-height: 1.46;
}

.tb-sectionsGroup{
	overflow: hidden;
}

// Buttons 
.tb-btn{
	background-color: $primary;
	color: white;
	text-decoration: none;
	font-family: $font-family;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 1.1rem 1rem;
	text-align: center;
	min-width: 10rem;
	display: inline-block;
	border-radius: 100rem;
	transition: $transition-med;
	&:hover{
		transform: scale(1.06);
		background-color: $green-dark;
		color: white;
	}
	&-yellow{
		background-color: $yellow-orange;
		color: #293820;
		&:hover{
			background-color: $orange;
			color: #293820;
		}
	}
}

// Animations 

@keyframes tbGrow{
	from{
		opacity: 0;
		transform: scale(0);
	}
	to{
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes tbFromTop{
	from{
		opacity: 0;
		transform: translateY(-100%);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes tbFromBottom{
	from{
		opacity: 0;
		transform: translateY(100%);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}

.tb-latinaWomen{
	margin-top: 3.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.8rem;
	img{
		flex-shrink: 0;
	}
	span{
		color: #D51464;
		font-size: 27px;
		font-family: $font-family;
		font-weight: bold;
		line-height: 1;
	}
}
.tb-latina-wrapper{
	background-color: #EFECE1;
	.tb-latinaWomen{
		margin: 0;
		img{

		}
		span{
			font-size: 27px;
		}
	}
}

// Fix products grid 
@media (min-width: 1281px) and (max-width: 1540px) {
	.container .has-sidebar .collection-grid .dT_VProdWrapper .product-collection.dt-sc-column:not(.product-list-style) {
			grid-template-columns: repeat(3, 1fr);
	}
}

// Collection page
.collection-header .collection-view .change-mode:after{
	background-color: $primary;
}

// Product card
#ProductPrice{
	color: $primary;
}
.products{
	.box{
		border-color: $primary;
		border-radius: 6px;
		li.init{
			color: #525252;
			font-weight: normal;
			&:after{
				border-color: $primary;
				color: $primary;
			}
		}
	}
}