@use "variables" as *;

section.tb-recipes{
	background-color: $bg-light;
	padding: 3.4rem 0 3.4rem;
	text-align: center;
	
	.tb-container{
		position: relative;
	}

	.tb-section-title{
		margin-bottom: .2rem;
		animation-delay: .2s;
	}

	.tb-sectionSubtitle{
		animation-delay: .4s;
	}

	.tb-grid{
		margin-bottom: 4rem;
		grid-gap: 2.8rem 1rem;
	}

	.tb-decorative{
		z-index: 10;
		display: none;
		@media only screen and (min-width: $md){
			display: block;
		}
		&.left{
			width: 380px;
			height: 380px;
			top: -19%;
			left: -26%;
			background-image: url(#{$img-url}tb-deco-recipes-left.png);
			animation-delay: .4s;
			
			@media only screen and (min-width: $lg){
				width: 450px;
				height: 450px;
				top: -20%;
				left: -22%;
			}
			@media only screen and (min-width: $xxl){
				width: 500px;
				height: 500px;
				top: -38%;
				left: -34%;
			}

		}
		&.right{
			width: 300px;
			height: 300px;
			top: -2%;
			right: -20%;
			background-image: url(#{$img-url}tb-deco-recipes-right.png);
			animation-delay: .6s;
			@media only screen and (min-width: $lg){
				width: 350px;
				height: 350px;
				top: -1%;
				right: -18%;
			}
			@media only screen and (min-width: $xxl){
				width: 440px;
				height: 440px;
				top: -1%;
				right: -30%;
			}
		}
	}
}

.tb-articleRecipe{
	max-width: 280px;
	margin: 0 auto;
	animation-delay: .3s;
	img{
		width: 140px;
		height: 140px;
		object-fit: cover;
		border-radius: 50%;
		margin-bottom: 1rem;
		transition: $transition-slow;
		&:hover{
			transform: scale(1.1);
		}
	}
	.tb-title{
		font-size: 21px;
		font-weight: bold;
		margin: 0 0 .6rem;
		a{
			color: #181B31;
			text-decoration: none;
			transition: $transition;
			&:hover{
				color: $primary;
			}
		}
	}
	.tb-excerpt{
		margin: 0 0 1.4rem;
	}
	.tb-more{
		color: $primary;
		font-size: 1rem;
		text-decoration: none;
		transition: $transition;
		&:hover{
			color: #181B31;
		}
	}
}
